<div class="row text-center custom-body">
    <div class="col icon">
        <div class="row">
            <div class="col-sm-2">
                <i class="fa fa-cc-visa fa-3x color"></i>
            </div>
            <div class="col-sm-4">
                <h6 class="color font-weight-bold">TRẢ GÓP</h6>
                <P class="color" style="font-size: 14px">Mua hàng lãi xuất 0%</P>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-truck fa-3x color"></i>
            </div>
            <div class="col-sm-4">
                <h6 class="color font-weight-bold">VẬN CHUYỂN</h6>
                <P class="color" style="font-size: 14px">Chuyên nghiệp - tốc độ</P>
            </div>

        </div>
    </div>
    <div class="col icon">
        <div class="row">
            <div class="col-sm-2">
                <i class="fa fa-gear fa-3x color"></i>
            </div>
            <div class="col-sm-4">
                <h6 class="color font-weight-bold">BẢO HÀNH</h6>
                <P class="color" style="font-size: 14px">Hiệu quả - chất lượng</P>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-star fa-3x color"></i>
            </div>
            <div class="col-sm-4">
                <h6 class="color font-weight-bold">SẢN PHẨM</h6>
                <P class="color" style="font-size: 14px">Giá rẻ - chính hãng</P>
            </div>
        </div>
    </div>
</div>