<app-slide></app-slide>
<div class="container">
    <div class="row">

        <div class="col">
            <app-uy-tin></app-uy-tin>
            <app-san-pham-noi-bat></app-san-pham-noi-bat>
            <!-- <app-san-pham-ban-chay></app-san-pham-ban-chay> -->
            <app-tat-ca-san-pham></app-tat-ca-san-pham>
            <app-tin-tuc></app-tin-tuc>
           
        </div>
    </div>
</div>
<div>
    <app-video></app-video>
</div>

<div class="container">
    <app-danh-gia-khach></app-danh-gia-khach>
</div>
