.custom-image{ 
    height: 300px;
} 

.custom-title{
   text-align: center;
   font-weight: 500;
   color: #000 ; 
   font-size: 110%;
   font-family: "Helvetica", Times, serif;
   text-transform: uppercase;
} 

.custom-price{
   text-align: center;
   font-weight: 500;
   color: #ff4444 ; 
   font-size: 90%;
   font-family: "Helvetica", Times, serif;
   text-transform: uppercase;
} 

.custom-description{
   text-align: center;
   font-weight: 300;
   color: #37474F ; 
   font-size: 80%;
   font-family: "Helvetica", Times, serif;
}


// .img{
//     width: 500px;
//     height: 400px;
//     padding-left: 77px;
// }