<div class="container">
  <br> <br>

  <div class="row">
    <div class="col-lg-12 col-md-6 mb-lg-0 mb-5">
      <h3 class="text-center font-weight-bold">DỊCH VỤ SỬA CHỬA ĐÀN</h3>
      <br>
      <p class="font-weight-normal text-left">
        Với các loại đàn thì dây đàn thường xuống cấp theo thời gian, đàn piano cũng vậy, các thiết bị khác của nó có
        thể xảy ra lỗi, hỏng hóc do nhiều yếu tố khác nhau, có thể là khách quan hoặc chủ quan, có thể do quá trình sử
        dụng cũng có thể do lỗi kỹ thuật của đàn. Vì thế chúng tôi cung cấp dịch vụ sửa chữa đàn piano tại nhà cho
        khách hàng
      </p>
      <h4 class="font-weight-bold text-left">
        Các dịch vụ sửa chữa được Salem Piano cung cấp
      </h4>
      <br>

      <p class="font-weight-bold text-left">
        1. Thay dây đàn piano:
      </p>
      <p class="font-weight-normal text-left">
        Đàn Piano gồm 232 sợi dây dùng cho cho 88 phím đàn, nếu bạn sử dụng nhiều hoặc bảo quản đàn không tốt sẽ khiến
        cho dây đàn có thể sẽ bị rỉ, đứt hay bong tróc vỏ bọc đồng. Như thế âm thanh của đàn phát ra không hay và ảnh
        hưởng trực tiếp đến tai nghe của người sử dụng. Với những lỗi này, thì bạn nên thay dây vì lên dây cũng sẽ
        không hiệu quả. Chúng tôi cam kết các loại dây piano được thay vào đều nhập khẩu từ các hãng dây đàn piano của
        Nhật Bản, đảm bảo chất lượng cũng như âm thanh cho đàn.
      </p>


      <img class="custom-img img-fluid" src="https://pianohanoi.com/uploads/images/bai-tuan/dich-vu-bao-duong-piano-uy-tin-tai-ha-noi.jpg">

      <p class="font-weight-bold text-left">
        <br>
        2. Vệ sinh bàn phím:
      </p>
      <p class="font-weight-normal text-left">
        Bàn phím có vấn đề là lỗi phổ biến nhất trong quá trình sử dụng đàn Piano. Đặc biệt với môi trường khí hậu
        nhiệt đới gió mùa có độ ẩm rất cao, các chi tiết máy bị thẩm thấu khí, làm nở các chi tiết này đồng thời lượng
        bụi bám trong các chi tiết máy làm kẹt cứng khiến cho người sử dụng gặp khó khăn trong việc chơi đàn. Để giải
        quyết việc này nên đảm bảo giữ cho đàn luôn ở trong môi trường sạch sẽ, có độ ẩm khoảng 50-60%. Chúng tôi giới
        thiệu đến bạn một số cách để phòng tránh lỗi này cho đàn piano.
      </p>

      <img class="custom-img img-fluid" src="https://tongkhonhaccu.com/Data/upload/images/Tintuc/PianoOrgan/ve-sinh-dan-piano-tai-ha-noi-uy-tin.jpg">


      <p class="font-weight-normal text-left">
        <br>
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Bảo dưỡng, bảo trì đàn piano định kỳ ít nhất 1 năm 1 lần.
      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Bảo quản piano trong môi trường thoáng khí hoặc trong phòng có điều hòa
      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Không đặt piano sát tường mà nên để cách ra 5 – 10 cm để tránh ẩm.

      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Cắm ống sưởi cho đàn khi độ ẩm tăng cao, cụ thể là vào các ngày mưa, có sương mù hoặc vào mùa mưa xuân. Lưu ý
        cắm ống sấy cũng nên đúng cách, các bạn không nên quá làm dụng điều này vì độ ẩm quá thấp cũng khiến gỗ bị khô,
        các thớ gỗ mất liên kết cơ học và có thể gây nứt các chi tiết máy
      </p>
      <p class="font-weight-bold text-left">
        3. Cân chỉnh phím đàn:
      </p>

      <p class="font-weight-normal text-left">
        Bàn phím sau thời gian dài cũng mất đi sự chính xác vốn có của nó, thay vào đó là tình trạng lún, lắc và mất
        chính xác khi chơi đàn. Mà bạn biết đấy Phím đàn rất quan trọng vì nó đóng vai trò chính giúp tạo cảm xúc cho
        người nghệ sỹ. Vì vậy khi đàn có dấu hiệu hư hỏng phím bạn nên sửa chữa kịp thời để đánh những bản nhạc tuyệt
        vời.

      </p>
      <img class="custom-img img-fluid" src="https://ducthuong.com.vn/image/catalog/dich-vu/chinh-dan2.jpg">
      <p class="font-weight-bold text-left">
        <br>
        4. Sửa chữa, thay thế búa đàn:
      </p>
      <p class="font-weight-normal text-left">
        Búa đàn được làm bằng lông cừu ép liên kết với trục gỗ và các chi tiết nhỏ. Do vậy sau một thời gian dài sử
        dụng, búa đàn sẽ xảy ra các trường hợp sau:

      </p>
      <img class="custom-img img-fluid" src="http://www.anzaipiano.com/wp-content/uploads/2014/08/Mr-Seiichi.jpg">
      <p class="font-weight-normal text-left">
        <br>
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Đầu búa bị chai: Búa đàn tạo ra âm thanh bằng cách đánh vào dây đàn. Tuy nhiên nó cần có độ xốp nhất định để
        giữ cho âm thanh được trong và ấm. Sau một thời gian dài sử dụng, với tần suất lực đánh lớn, nhiều búa đàn sẽ
        tạo ra các rãnh trên đầu búa và dần dần sẽ tạo ra sự chai ở các rãnh búa này. Chính vì thế sẽ làm cho búa mất
        đi âm sắc ấm áp mà thay vào đó là âm thanh đanh tạo cảm giác khó chịu cho người chơi và không thể chơi đàn liên
        tục trong thời gian dài.
      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Trục búa bị gãy: Việc này rất ít khi xảy ra, nhưng nếu đã xảy ra thì bạn nên khắc phục sớm, vì búa gãy rồi thì
        phím đàn đó bạn sẽ không sử dụng được.

      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Đứt dây giật và dây hãm búa.

      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Chuột cắn

      </p>
      <p class="font-weight-bold text-left">
        5. Thay tấm nỉ giảm âm:
      </p>
      <p class="font-weight-normal text-left">
        Có nhiều tác nhân gây hỏng nỉ giảm âm:
      </p>
      <img class="custom-img img-fluid" src="https://www.chuppspianos.com/wp-content/uploads/2014/06/Steinway-Grand-Piano-Strings-Copper-Wound-Bass-Strings.jpg">
      <p class="font-weight-normal text-left">
        <br>
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Quá trình sử dụng dài gây rách, mục
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Chuột cắn.
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-asterisk fa-1x black-text"></i>
        Tác nhân khác.
      </p>
      <p class="font-weight-bold text-left">
        6. Căn chỉnh lại pedal:
      </p>
      <p class="font-weight-normal text-left">
        Quá trình chơi những bản nhạc do chủ ý của tác giả hoặc do cách chuyển hợp âm trong tác phẩm qua thời gian dài
        liên tục làm các bulong bị trôi ngược khiến cho Pedal bị rung lắc. Điều này có thể dẫn đến gãy Pedal hoặc sự
        khó chịu cho người chơi.
      </p>

      <p class="font-weight-bold text-left">
        7. Thay lò xo cho bộ máy của đàn piano :
      </p>
      <p class="font-weight-normal text-left">
        Một bộ máy đàn có lò xo tốt sẽ tạo ra sự bật nảy đảm bảo cho người nghệ sỹ thăng hoa trên cây đàn của họ
      </p>

      <p class="font-weight-bold text-left">
        8. Bảo dưỡng bộ máy:
      </p>
      <p class="font-weight-normal text-left">
        Bộ máy hoạt động lâu chắc chắn sẽ có vấn đề, bạn cần kiểm tra, bảo dưỡng để bộ máy có thể hoạt động tốt nhất
      </p>
    </div>
  </div>
</div>