<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <br>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Thông tin salem piano</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="font-weight-normal">Là cửa hàng nhạc cụ chuyên bán các loại đàn piano có thương hiệu như : Kwai , Yamaha , Essex , Roland sẽ làm quý
          khác hài lòng
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">hướng dẫn chung</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/user/trang-khac/gioi-thieu">Giới Thiệu</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/san-pham">Sản Phẩm</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/tin-tuc">Tin Tức</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/tin-tuc">Video</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">hổ trợ khách hàng</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/user/trang-khac/lien-he">Liên Hệ</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/lien-he">Gọi Cho Chúng Tôi</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/san-pham">Cửa Hàng</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/lien-he">Bảo Hành</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">liên hệ</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home"></i> H14/32 Phan Tứ ,Đà Nẵng
        </p>
        <p>
          <i class="fa fa-envelope"></i> salempiano.com
        </p>
        <p>
          <i class="fa fa-phone"></i> + 039 469 0998
        </p>
        <p>
          <i class="fa fa-print"></i> + 0169 469 0998
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">SALEM PIANO.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->