<!--Main Navigation-->
<header>

  <nav class="navbar  navbar-expand-lg navbar-dark c scrolling-navbar">
    <a routerLink="/user/trang-chu">
      <img src="../../../../assets/img/5.png" width="150px" height="200px" alt="salem piano">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="onClick($event)">
      <i class="fa fa-bars fa-2x black-text"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto  mr-auto ">
        <li class="nav-item  menu">
          <a title="piano" class="nav-link text-black text-uppercase" style="font-weight: 500" title="piano" routerLink="/user/trang-khac/san-pham">
            <p class="black-text">
              <i class="fa fa-music fa-2x black-text"></i>
              Sản phẩm
            </p>
          </a>
        </li>

        <li class="nav-item menu">
          <a title="piano" class="nav-link" routerLink="/user/trang-khac/tin-tuc">
            <p class="black-text text-uppercase" style="font-weight: 500">
              <i class="fa fa-globe fa-2x black-text"></i>
              Tin tức
            </p>
          </a>
        </li>
        <li class="nav-item menu">
          <a title="piano" class="nav-link" routerLink="/user/trang-khac/gioi-thieu">
            <p class="black-text text-uppercase" style="font-weight: 500">
              <i class="fa fa-address-book fa-2x black-text"></i>
              Giới thiệu
            </p>
          </a>
        </li>
        <li class="nav-item menu">
          <a title="piano" class="nav-link" routerLink="/user/trang-khac/hoc-piano">
            <p class="black-text text-uppercase" style="font-weight: 500">
              <i class="fa fa-mortar-board fa-2x black-text"></i>
              Giáo dục
            </p>
          </a>
        </li>

        <li class="nav-item">

          <div class="btn-group dichvu ">

            <!-- Basic dropdown -->
            <a class="mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <p class="black-text  text-uppercase" style="font-weight: 500">
                <i class="fa fa-caret-down fa-1x black-text"></i>
                dịch vụ
              </p>
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" style="font-weight: 500" routerLink="/user/trang-khac/sua-chua-dan">Sửa Chửa</a>


              <a class="dropdown-item" style="font-weight: 500" routerLink="/user/trang-khac/cho-thue-nhac-cu">Cho Thuê
                Nhạc Cụ</a>

              <a class="dropdown-item" style="font-weight: 500" routerLink="/user/trang-khac/to-chuc-su-kien">Tổ Chức
                Sự Kiện</a>
            </div>
            <!-- Basic dropdown -->


          </div>

        </li>
        <li class="nav-item menu">
          <a title="piano" class="nav-link" routerLink="/user/trang-khac/video">
            <p class="black-text text-uppercase" style="font-weight: 500">
              <i class="fa fa-film fa-2x black-text"></i>
              Video
            </p>
          </a>
        </li>
        <li class="nav-item menu">
          <a title="piano" class="nav-link" routerLink="/user/trang-khac/lien-he">
            <p class="black-text text-uppercase" style="font-weight: 500">
              <i class="fa fa-envelope fa-2x black-text"></i>
              Liên hệ
            </p>
          </a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<!--Main Navigation-->