.custom-card{ 
    margin-bottom: 15px;
} 

.custom-image{ 
    height: 260px;
} 

.custom-title{
   text-align: center;
   font-weight: 500;
   color: #000 ; 
   font-size: 110%;
   font-family: "Helvetica", Times, serif;
   text-transform: uppercase;
} 

.custom-price{
   text-align: center;
   font-weight: 500;
   color: #ff4444 ; 
   font-size: 90%;
   font-family: "Helvetica", Times, serif;
   text-transform: uppercase;
} 

.custom-description{
   text-align: center;
   font-weight: 300;
   color: #37474F ; 
   font-size: 80%;
   font-family: "Helvetica", Times, serif;
}


.custum-body{
    background-color: #2E2E2E;
    height: 100px;
}

.custom-hinh{
    height: 300px;
    width: 100%;
}


@media (max-width: 1199.98px) {

    .custom-slide{
      height: 200px;
      width: 100%;
    }
  }

  
@media (max-width: 1199.98px) {

  
    .custum-body{
        background-color: #2E2E2E;
        height: 120px;
        
    }
    
    
      .description{
          padding-left: 7px;
          padding-right: 7px;
          font-size: 100%;
          font-weight: 300;
          font-family: "Helvetica", Times, serif;
      }
      .tieude{
          padding-top: 20px;
          font-weight: 300;
          font-family: "Helvetica", Times, serif;

      }
}

@media (min-width: 1199.98px) {

  
    .custum-body{
        background-color: #2E2E2E;
        height: 100px;
    }
}


  
@media (min-width: 1199.98px) {

  

.container-fluida {
    position: relative;
    text-align: center;
    color: white;
  }

  
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 80px;
    left: 380px;
    height: 200px;
    font-weight: 300;
    font-family: "Helvetica", Times, serif;
    width: 355px;
    background-color:rgba(62, 69, 81, 0.7);
  }
  .description{
      padding-left: 7px;
      padding-right: 7px;
    
  }
  .tieude{
      padding-top: 20px;
  }
}
  


.color{
    color:  #ffca28;
 }
  
 