<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img class="d-block w-100 custom-slide img" src="../../../../assets/img/11.png" alt="Salem Piano">

      <div class="carousel-caption caption ">
        <div class="slide-caption">
          <h3 class="h3-responsive text-left mt-5 caption1">SALEM PIANO</h3>
          <p class="text-left">Salem piano mang đến cho học viên môi trường tốt nhất để phát triển , với cơ sở vật chất hiện đại giáo trình theo
            chuẩn quốc tế cùng với đội ngũ giáo viên nhiệt huyết tận tâm </p>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <img class="d-block w-100 custom-slide img" src="../../../../assets/img/2.png" alt="Salem Piano">
      <div class="carousel-caption caption ">
        <!-- <div class="slide-caption">
          <h3 class="h3-responsive text-left mt-5 caption1">SALEM PIANO</h3>
          <p class="text-left">Đa dạng các mẫu keywoard với nhiều dòng sản phẩm cho khách hàng lựa chọn,phục vụ được cho những nhu cầu khác nhau
            đến từ những thương hiệu tên tuổi.được người chơi tin dùng như Roland,Casio</p>
        </div> -->
      </div>
    </div>
    <div class="carousel-item img">
      <img class="d-block w-100 custom-slide" src="../../../../assets/img/3.png" alt="Salem Piano">
      <div class="carousel-caption caption ">
        <!-- <div class="slide-caption">
          <h3 class="h3-responsive text-left mt-5 caption1">SALEM PIANO</h3>
          <p class="text-left">Piano là một trong những nhạc cụ yêu thích nhất tại Việt Nam,Salem Piano cung cấp những chiếc đàn từ những thương
            hiệu Kawai,Boston,Essex,Rimuller sẽ hài lòng quý khách</p>
        </div> -->
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="fa fa-angle-double-left fa-3x white-text"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="fa fa-angle-double-right fa-3x white-text"></i>
    <span class="sr-only">Next</span>
  </a>
</div>