<div>
  <div class="custom container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">

      </div>

      <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
        <!-- 4:3 aspect ratio -->
        <iframe class="img-fluid iframe" src="https://www.youtube.com/embed/Q_iHCU8-vw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
        <h3 class="font-weight-bold">SALEM PIANO 20 NĂM PHÁT TRIỂN</h3>
        <p class="font-weight-normal">
          <i class="fa fa-angle-double-right fa-1x blue-text"></i> Hơn 70 đại lý lớn nhỏ tại các tỉnh thành việt nam</p>
        <p class="font-weight-normal">
          <i class="fa fa-angle-double-right fa-1x blue-text"></i> Cam kết đem lại lợi ích tốt nhất cho khách hàng</p>
        <p class="font-weight-normal">
          <i class="fa fa-angle-double-right fa-1x blue-text"></i> Salem Music Shool với hệ thống giáo trình theo tiêu chuẩn Quốc Tế</p>
        <p class="font-weight-normal">
          <i class="fa fa-angle-double-right fa-1x blue-text"></i> Dịch vụ cho thê âm nhạc cụ,âm thanh ánh sáng lớn nhất</p>
      </div>

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">

      </div>
    </div>
  </div>
</div>